<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
 <title>100 Day Fitness Challenge</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>
 <body>
  <div id="splash-content">
 
   <div id="splash-title">100 Day Fitness Challenge</div>
   <div id="splash-desc">Get fit with your friends.</div>
 
   <div>
    <form action="/achievements/create" method="post">
      <label for="name">name</label>
      <input type="text" id="name" name="name"/>
      <br/><label for="desc">description</label>
      <input type="text" id="desc" name="desc"/>
      <br/><label for="msg">message</label>
      <input type="text" id="msg" name="msg"/>
      <br/><label for="period">time period</label>
      <input type="text" id="period" name="period"/>
      <br/><input type="submit"/>
    </form>
    <p/>
    <form action="/user/create" method="post">
      <label for="name">name</label>
      <input type="text" id="name" name="name"/>
      <br/><label for="phone">phone</label>
      <input type="text" id="phone" name="phone"/>
      <br/><input type="submit"/>
    </form>

   </div>

   </div>
 </div>
 
  <div id="footer">
  <hr>
   <div id="powered-by">
     powered by:<br>
     <a href=http://code.google.com/appengine/><img src="img/gae-logo.png" alt="google app engine" height="30" width="30"></a>
   </div>
   <div id="me">
    <br><a href=http://gregtracy.com>greg tracy</a> | </a><a href="mailto:gtracy@gmail.com?subject=iceskatesfor.us%20feedback">send feedback</a>
   </div>
  </div>
    

 </body>
</html>